<div class='menu'>
    <mat-tab-group>
        <mat-tab  label="País">
            <div class="m-5 card ">
                <div class="bg-info card-header d-flex justify-content-center text-light ">
                    <h1 class="m-3">Crear Pais</h1>
                </div>
                <div class="m-5 d-flex justify-content-center">
                    <form>
                        <div class="text-info form-group">
                            <label for="exampleInputEmail1">Ingrese el nombre de Pais</label>
                            <input type="email" [(ngModel)]="countryName" name="countryName" class="border border-info form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        </div>
                        <p>{{ responseMessageSaveCountry }}</p>
                        <button type="submit" (click)="onSaveCountryButtonClick()" class="btn btn-primary text-light">Guardar</button>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Ciudad">
            <div class="m-5 card">
                <div class="bg-info card-header d-flex justify-content-center text-light">
                    <h1 class="m-3 d-flex">Ciudad</h1>
                </div>
                <div class="text-info m-5 d-flex justify-content-center">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Departamento</label>
                            <input type="email" [(ngModel)]="departmentName" name="countryName" class=" border border-info form-control" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ciudad</label>
                            <input type="email" [(ngModel)]="cityName" name="cityName" class=" border border-info form-control"  aria-describedby="emailHelp" required>
                        </div>
                        <p>{{ responseMessageSaveCity }}</p>
                        <button type="submit" (click)="onButtonClickSaveCity()" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Departamento">
            <div class="m-5 card">
                <div class="text-light bg-info card-header d-flex justify-content-center">
                    <h1 class="m-3 d-flex ">Departamento</h1>
                </div>
                <div class="text-info m-5 d-flex justify-content-center">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">País</label>
                            <input type="email" class="border border-info form-control" [(ngModel)]="countryName" name="countryName" aria-describedby="emailHelp" >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Departamento</label>
                            <input  class="border border-info form-control" [(ngModel)]="departmentName" name="departmentName"  required>
                        </div>
                         <p>{{ responseMessageSaveDepartment }}</p>
                        <button type="submit" (click)="onButtonClickSaveDepartment()"  class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="sector">
            <div class="m-5 card">
                <div class="text-light bg-info card-header d-flex justify-content-center">
                    <h1 class="m-3 ">Sector</h1>
                </div>
                <div class="text-info m-5 d-flex justify-content-center">
                    <form>
                        <div class="form-group">
                            <label  for="exampleInputEmail1">Ciudad</label>
                            <input  [(ngModel)]="propertyNameCity" name="propertyNameCity" class="border border-info form-control" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Sector</label>
                            <input [(ngModel)]="propertyName"  name="propertyName" class="border border-info form-control" required>
                        </div>
                        <p>{{ responseMessage }}</p>
                        <button (click)="onSaveButtonClick()" type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Inmueble">
            <div class="m-5 card">
                <div class="text-light bg-info card-header d-flex justify-content-center">
                    <h1 class="m-3">Inmueble</h1>
                </div>
                <div class="text-info m-5 d-flex justify-content-center">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre del propietario</label>
                            <input type="email" class="border border-info form-control" [(ngModel)]="nameOwner"  name="nameOwner" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Email propietario</label>
                            <input  class="border border-info form-control"  [(ngModel)]="emailOwner"  name="emailOwner" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Conjunto Residencial</label>
                            <input type="email" class="border border-info form-control" [(ngModel)]="residentialSet"  name="residentialSet" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Torre</label>
                            <input  class="border border-info form-control"[(ngModel)]="tower"  name="tower" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Apartamento</label>
                            <input type="email" class="border border-info form-control" [(ngModel)]="appartment"  name="appartment" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Dirección</label>
                            <input  class="border border-info form-control" [(ngModel)]="address"  name="address" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Sector</label>
                            <input  class="border border-info form-control" [(ngModel)]="sectorName"  name="sectorName" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ciudad</label>
                            <input  class="border border-info form-control" [(ngModel)]="cityName"  name="cityName" required>
                        </div>
                        <p>{{ responseMessageSaveProperty }}</p>
                        <button type="submit" (click)="onButtonClickSaveProperty()" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</div>