<router-outlet></router-outlet>
<div class="menu" *ngIf="!isCreateRoute" >
  <div class="m-5">
      <h1 class="text-info d-flex justify-content-center">Listado</h1>
    <div class="mt-2 mr-5 d-flex justify-content-end">
      <button type="button" (click)="onCreateButtonClick()" class="btn btn-info text-light">+ Crear</button>
    </div>
    
  </div>
  <div class="m-5">
    <table class="table table-bordered">
      <thead class="table-info">
        <tr>
          <th  scope="col">Pais</th>
          <th  scope="col">Departamento</th>
          <th  scope="col">Ciudad</th>
          <th  scope="col">Sector</th>
          <th  scope="col">Inmueble</th>
          <th  scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Colombia </td>
          <td>Risaralda </td>
          <td>Pereira</td>
          <td>Norte</td>
          <td>Casa</td>
          <td class="d-flex justify-content-center"><app-dropdown-button></app-dropdown-button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

