<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" (click)="toggleDropdown()">
      <span class="vertical-dots">&#8942;</span>
    </button>
    <div class="dropdown-menu" [class.show]="showDropdown">
      <a class="dropdown-item" (click)="openDetailsModal(selectedRowData)">Detalles</a>
      <a class="dropdown-item" (click)="openEditModal()">Editar</a>
      <a class="dropdown-item" (click)="openDeleteModal()">Eliminar</a>
    </div>
  </div>
  
  <!-- Modales aquí -->
<!-- Modal detalles -->
<div class="modal" *ngIf="showDetailsModal" id='details-modal' style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informacion</h5>
                <button type="button" class="close" (click)="closeDetailsModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Pais</th>
                                <td>Colombia</td>
                            </tr>
                            <tr>
                                <th scope="row">Departamento</th>
                                <td>Risaralda</td>
                            </tr>
                            <tr>
                                <th scope="row">Ciudad</th>
                                <td>Pereira</td>
                            </tr>
                            <tr>
                                <th scope="row">Sector</th>
                                <td>Norte</td>
                            </tr>
                            <tr>
                                <th scope="row">Inmueble</th>
                                <td>Casa</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
    <div class="modal" *ngIf="showEditModal" id='details-modal' style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar</h5>
                <button type="button" class="close" (click)="closeEditModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn">
                    <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="50px">
                </button>
            </div>
            </div>
        </div>
    </div>
<!-- Modal Eliminar -->
    <div class="modal" *ngIf="showDeleteModal" id='details-modal' style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar</h5>
                <button type="button" class="close" (click)="closeDeleteModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Desea eliminar la fila seleccionada?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarFila()">Eliminar</button>
              </div>
            </div>
        </div>
    </div>


 